/proposal/*.pyc
/proposal/Example2_TestNetwork.net.nml
/proposal/*.dat
/proposal/networkshorthand/*.pyc
/proposal/x86_64
/proposal/*.mod
/proposal/*_nrn.py
/proposal/*.pov
/proposal/*_movie.ini
/proposal/*.hoc
/proposal/test_files/*.mod
/proposal/test_files/*.hoc
/proposal/test_files/x86_64
/proposal/SimExample4.json
/proposal/LEMS_Sim_PyNN_NeuroML2_Export.xml
/proposal/BBP.net.nml.h5
/proposal/BBP.net.nml.png
