/proposal/*.pyc
/proposal/*.dat
/proposal/networkshorthand/*.pyc
/proposal/x86_64
/proposal/*.mod
/proposal/*_nrn.py
/proposal/*.pov
/proposal/*_movie.ini
/proposal/*.hoc
/proposal/test_files/*.mod
/proposal/test_files/*.hoc
/proposal/test_files/x86_64
/proposal/SimExample4.json
/proposal/LEMS_Sim_PyNN_NeuroML2_Export.xml
/proposal/BBP.net.nml.h5
/proposal/BBP.net.nml.png
/proposal/LEMS_Sim_Example4_PyNN.xml
/proposal/LEMS_Sim_Example5_bbpNet.xml
/proposal/LEMS_SimExample5_netpyne.py_main.json
/proposal/LEMS_SimExample5_netpyne.py
/proposal/LEMS_SimExample5.xml
/proposal/Example5_bbpNet.net.nml.h508.pov-state
/proposal/Example6_PyNN.net.nml
/proposal/LEMS_Sim_Example6_PyNN.xml
/proposal/SimExample6_PyNN.json
/proposal/Example5_bbpNet.net.nml.h5.png
/proposal/Example5_bbpNet.net.nml.png
/proposal/Example5_bbpNet.net.nml.h5
/proposal/BBP_100percent.net.nml.h5
/proposal/BBP_10percent.net.nml.h5
/proposal/BBP_1percent.net.nml.h5
/proposal/BBP_5percent.net.nml
/proposal/BBP_5percent.net.nml.h5
/proposal/BBP_5percent.net.nml.png
/proposal/LEMS_SimExample3_netpyne.py
/proposal/LEMS_SimExample4_netpyne.py
